{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"> {% endblock %}

{%block content%}
    <div class="row text-center">
        <h1 class="trajan title slide-in-elliptic-top-fwd">Dota 2 Items Guide</h2>
            <h3 class="trajan subtitle tracking-in-expand-fwd-top">Items that do what you need.</h4>
    </div>
    <div class="row mt-4">
        <form method="post">
            {% csrf_token %}
            <div class="d-flex flex-column align-items-center">
                <input type="search" placeholder='Search..' class="search-bar form-control mb-3" name='query'>
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
    {% if items%}
        <div class="row d-flex flex-row items mt-3">
            {% for item in items %}
                <div class="card item mb-2" style="width: 10rem;">
                    <img src="https://api.opendota.com{{item.img}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title text-center">{{ item.dname }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{%endblock%}